.navbar-item img {
  max-height: 2.75rem;
}

a.navbar-item.logo {
  padding: 0;
  background-image: url("../assets/images/treasured-logo.png");
}

h1.treasured-title {
  display: none;
}

.navbar-item img {
  border-radius: 50%;
}

.navbar-item strong {
  padding-right: 5px;
}
