.navbar-item img {
  max-height: 2.75rem;
}

.navbar-item {
  font-weight: bolder;
}

a.navbar-item.logo {
  padding: 0;
  background-image: url("../assets/images/treasured-logo.png");
}

h1.treasured-title {
  display: none;
}
